/*------common styles------*/

* {
    font-family: 'Open Sans', sans-serif;

}

.primary-btn {
    color: #FFF;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

.secondary-btn {
    background: #FFF;
    border-radius: 5px;
    color: #FD6E0A;
    border: solid 1px #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    margin-left: 30px;
}

.section-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    align-items: center;
}


/*------nav styles------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 50px;
}

nav li>a {
    text-decoration: none;
    color: #474747;
}

.Color-letter {
    color: #FD6E0A;
}

.mary {
    font-weight: 800;
    font-size: 45px;
}

/*------banner styles------*/

.header {
    background: #FFF8F3;
    background: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.banner-greetings {
    color: #474747;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-tittle {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-profile-pic {
    width: 580px;
}

.button{
    display: flex;
}
/*------main section styles------*/

.About {
    margin: 150px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 150px 200px;
    border-radius: 10px;

}

.section-description {
    color: #757575;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-tittle {
    color: #757575;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 100px;
}

.info-description {
    color: #474747;
    font-size: 18px;
    margin-top: 2px;
}


.skills {
    margin: 150px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-section-description {
    color: #757575;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin: 15px 150px 30px 150px;
}

.skill {
    background-color: #FFF;
    border-radius: 5px;
    padding: 30px;
}


.summary-container {
    display: flex;
    justify-content: space-around;
}

.education-container {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.education-tittle {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.education-time {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.education-description {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}

.summary {
    margin: 100px 250px;
    align-items: center;
    justify-content: center;
}

.CV-btn {
    color: #FFF;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

/*------ footer styles ------*/

.communication {
    display: flex;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 150px;
    justify-content: space-around;
    align-items: center;
}

input,
textarea {
    border: 0;
    border-radius: 5px;
    background: #FFF;
}

.communication-tittle {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    align-items: center;
}
footer>img{
    display: flex;
    justify-content: space-between;
}